DATABASE_URL= # Postgres database path

# Third party auth providers
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_ID=
GITHUB_SECRET=

AUTH_SECRET= # run `openssl rand -base64 32` to generate a secret

RESEND_API_KEY= # resend.com API key

BASE_URL= # domain URL
